name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    
permissions:
  contents: read
  packages: write

jobs:
  build-test-and-publish:
    runs-on: ubuntu-latest
    env: 
      DOTNET_NOLOGO: true 
      DOTNET_CLI_TELEMETRY_OPTOUT: true 
      IMAGE_NAME: ghcr.io/${{ github.repository_owner }}/adopet.identity
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Setup .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
          
      - name: Restore dependencies
        run: dotnet restore
        
      - name: Build
        run: dotnet build --no-restore --configuration Release
        
      - name: Run tests
        run: dotnet test --no-build --configuration Release --verbosity normal
        
      - name: Setup Docker Buildx 
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR 
        if: github.ref == 'refs/heads/main' 
        uses: docker/login-action@v3 
        with: 
          registry: ghcr.io 
          username: ${{ github.actor }} 
          password: ${{ secrets.GITHUB_TOKEN }}
            
      - name: Build and Push Docker Image 
        if: github.ref == 'refs/heads/main' 
        uses: docker/build-push-action@v5 
        with: 
          context: . 
          file: Dockerfile 
          push: true 
          tags: | 
              ${{ env.IMAGE_NAME }}:latest 
              ${{ env.IMAGE_NAME }}:${{ github.sha }}